pkgbase = chronoarchiver
	pkgdesc = Unified Media Archive Organizer and AV1 Encoder - Time to Archive!
	pkgver = 2.0.24
	pkgrel = 1
	url = https://github.com/UnDadFeated/ChronoArchiver
	install = chronoarchiver.install
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-setuptools
	depends = python
	depends = pyside6
	depends = python-pillow
	depends = python-piexif
	depends = python-psutil
	depends = python-platformdirs
	depends = python-requests
	depends = ffmpeg
	optdepends = python-opencv: for AI Media Scanner (Face/Animal detection)
	source = git+https://github.com/UnDadFeated/ChronoArchiver.git#tag=v2.0.24
	sha256sums = SKIP

pkgname = chronoarchiver
